Host *
ControlMaster auto
ControlPath ~/.ssh/sockets/%r@%h-%p
ControlPersist 30

ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes
StrictHostKeyChecking no

Match exec "~/dotfiles/check_ssh_version.sh 7.3"
    Include config.d/*
