snippet bef "Begin/end frame" b
\begin{frame}
	$0
\end{frame}
endsnippet
snippet fig "Begin/end figure" b
\begin{figure}
	$0
\end{figure}
endsnippet
snippet fim "Begin/end figure with image" b
\begin{figure}
	\includegraphics[width=\textwidth]{pics/$0}
\end{figure}
endsnippet
